@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* Utilities*/
:root{
    --very-dark-blue: hsl(230, 17%, 14%);
/* - Very Dark Blue (Top BG Pattern): hsl(232, 19%, 15%); */
    --dark-desaturated-blue: hsl(228, 28%, 20%);
    --desaturated-blue: hsl(228, 24%, 37%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    height: 100vh;
}

.white-color{
    color: rgba(255, 255, 255, 0.9);
}

.black-color{
    color: rgba(0, 0, 0, 0.9);
}

.dull-white{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 700;
}

.dull-black{
    color: rgba(0, 0, 0, 0.6);
    font-weight: 700;
}

.big-card>*{
    padding: 7px 0;
}
.social img{
    margin-top: 2px;
}
.username{
    display: inline;
    font-size: 0.9rem;
}

.follower-count{
    font-size: 2.75rem;
    padding-bottom: 0;
}

.followers-text{
    font-size: 0.75rem;
    padding-top: 0;
    letter-spacing: 0.25em;
}

.green,
.red{
    display: inline;
    font-size: 0.7em;
    font-weight: 700;
}

.green{
    color: green;
}

.red{
    color: red;
}

.facebook,
.twitter{
    border-top: #4267B2 4px solid;
}

.youtube{
    border-top: red 4px solid;
}
/*container*/
.container{
    margin: 0 auto;
    padding: 30px;
}

/*header*/
.header{
    display: flex;
    justify-content: space-between;
}

/*cards*/
.cards{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 3.5rem;
}
.big-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.3rem;
    transition: 0.3s;
    cursor: pointer;
}

.instagram{
    background: linear-gradient(to right, yellow, rgb(255, 124, 146)); 
    border-radius: 0.3rem;  
}
.instagram .big-card{
    margin-top: 4px;
}

/*Small Cards*/

#overview{
    margin: 20px 0;
}

.small-cards{
    border-radius: 0.3rem;
    cursor: pointer;
    transition: 0.3s;
}

.card-container{
    padding: 15px;
    display: grid;
    grid-gap: 1.8rem;
    align-items: center;
    grid-template-areas:
    "category social"
    "change percent"
}
/* .small-cards > *{
    margin: 4px;
} */ 
.category{
    grid-area: category;
    font-size: 0.74rem;
} 

.svg{
    grid-area: social;
    justify-self: end;
}

.daily-change{
    grid-area: change;
    font-size: 1.75rem;
    font-weight: 700;
}
.change{
    grid-area: percent;
    justify-self: end;
}

.big-card:hover,
.small-cards:hover,
.big-card:focus,
.small-cards:focus{
    transform: scale(1.03);
}

/* Toggel Button */
#mode{
    display: inline;
    font-weight: 700;     
    font-size: 0.8rem;
}

.checkbox{
    display: none;
}

.toggel{
    display: inline-block;
    vertical-align: top;
}

.button{
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    width: 40px;
    height: 17px;
    border-radius: 1.7rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button::before{
    top: 1.5px;
    left: 22px;
    position: absolute;
    content: " ";
    background: var(--desaturated-blue);
    width: 12px;
    height: 12px;
    padding: 0 2px;
    border-radius: 48%;
    transition: all 0.3s ease;
}

.checkbox:checked + .button{
    background: hsl(210, 78%, 56%);
}

.checkbox:checked + .button::before{
    left: 2px;
    background: white;
}